<div class= "container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="#">Alpha App</a> by <a href="#">Usman Ijaz</a>
        </small>
        <nav>
            <ul>
                <li> <a href="#">About</a></li>
            </ul>
        </nav>
    </footer>
</div>